:root {
    --main-bg-color: #000;
}

body {
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #4949492c;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.styled-table {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 65vh;
    width: 100%;
    align-items: flex-start;

    border: 2px solid #424242;
    border-radius: 10px;

    table {
        width: 100%;
        border-collapse: collapse;

        thead tr th {
            padding: 10px 12px;
            border: 1px solid #424242;
            top: 0;
            position: sticky;
            --tw-bg-opacity: 1;
            background-color: rgb(10 10 10 / var(--tw-bg-opacity));
        }

        tbody tr td {
            padding: 4px 12px;
            border: 1px solid #424242;
        }
    }

    @media (max-width: 768px) {
        width: 95%;
    }
    @media (max-width: 480px){
        width: 90%;
    }
}